#pragma once

// Wi-Fi Credentials
#define WIFI_SSID       "YourWiFiSSID"
#define WIFI_PASSWORD   "YourWiFiPassword"

// Shelly Pro EM Configuration
#define SHELLY_IP       "10.0.0.187"

// MQTT Broker Configuration
#define MQTT_BROKER_IP  "10.0.0.1"
#define MQTT_PORT       1883
#define MQTT_USER       ""
#define MQTT_PASSWORD   ""
#define MQTT_CLIENT_ID  "ddsu666-emulator"

// OTA Password
#define OTA_PASSWORD    "admin"
